<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @taco.name %>
</p>

<p>
  <strong>Meat:</strong>
  <%= @taco.meat %>
</p>

<p>
  <strong>Topping:</strong>
  <%= @taco.topping %>
</p>

<p>
  <strong>Salsa:</strong>
  <%= @taco.salsa %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @taco.cost %>
</p>

<p>
  <strong>Image:</strong>
 <img src="<%= @taco.image %>">

</p>

<%= link_to 'Edit', edit_taco_path(@taco) %> |
<%= link_to 'Back', tacos_path %>
